include mixin/mixin
doctype html
html
    head
        include componets/head
    body
        .wrapper
            include componets/header
            main
                .container
                    .sale-banner
                        img(src="img/sale-banner.jpg")
                        .sale-banner-title
                            h1 Фурнитура для ванны
                            .sale-banner-desc
                                p ALWAYS
                                    span 25%
                                    | OFF OR MORE
                    .breadcrumbs
                        ul.breadcrumbs-list
                            li
                                a(href="index.html") Главная
                            li
                                a(href="about.html") О нас
                    .about
                        .main-title
                            p О нас
                        .about-us
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi dicta nihil non, odio sed sunt totam voluptates. Deleniti deserunt libero neque officiis, quis quisquam reprehenderit ut, vel velit voluptas voluptatum.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque cupiditate, debitis dicta, eaque error fuga modi nobis numquam officiis quia repellendus temporibus voluptatem. Aliquam animi, aperiam, autem distinctio dolor eligendi fugit inventore ipsam, numquam recusandae reprehenderit sint voluptate voluptates. At enim ex expedita fugit hic obcaecati quod sunt tenetur.
                        .main-title
                            a(href="#") Правила оформления заказов
                        .about-order
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque error numquam quaerat ratione sint, voluptas! A accusamus, aperiam atque, consectetur excepturi fuga, illum laboriosam molestiae nobis possimus quas repellat sed.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, saepe!
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad assumenda, corporis et id itaque iure, molestias odio quaerat quia quibusdam, rerum veritatis voluptatem. Architecto cupiditate dolorem est excepturi exercitationem laborum, maxime nesciunt nihil odio possimus quas sequi ut veritatis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et illum impedit ipsum quidem quos reprehenderit rerum sint temporibus vero. Dolores!
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero molestias natus nemo nostrum reprehenderit rerum sunt tempora totam ullam, veniam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae dolore doloremque, eligendi inventore iusto officiis omnis optio pariatur provident quia quibusdam quidem quod reiciendis reprehenderit sed sit suscipit vitae!
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dignissimos distinctio dolorem eum itaque laboriosam nobis odit sunt veniam? Dolorum eum ipsa perspiciatis. Aliquam assumenda dicta doloremque explicabo fugit ipsa iusto labore magnam nisi placeat rem repudiandae sequi ut, voluptas!
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dignissimos molestias neque possimus. A aspernatur cupiditate debitis dignissimos eius exercitationem, explicabo molestias obcaecati optio quia quis tempora vel voluptatum. Autem dicta dolorum eos, eveniet illo mollitia nesciunt nihil numquam quaerat quia quo quos reprehenderit soluta suscipit veniam! Asperiores, corporis, quo!
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid, deleniti error, illo ipsa labore laborum neque nihil odio perferendis quibusdam totam, ullam. Dignissimos dolore dolorem error inventore, obcaecati reiciendis veritatis. Adipisci architecto aspernatur aut autem cum cupiditate debitis dolor, doloribus earum fuga harum, id iste laboriosam laudantium magnam molestiae officiis praesentium, quae quas ratione reprehenderit saepe tenetur voluptas voluptatum.
            include componets/footer
        include componets/scripts