include mixin/mixin
doctype html
html
    head
        include componets/head
    body
        .wrapper
            include componets/header
            main
                .container
                    .sale-banner
                        img(src="img/sale-banner.jpg")
                        .sale-banner-title
                            h1 Фурнитура для ванны
                            .sale-banner-desc
                                p ALWAYS
                                    span 25%
                                    | OFF OR MORE
                    .breadcrumbs
                        ul.breadcrumbs-list
                            li
                                a(href="index.html") Главная
                            li
                                a(href="assurance.html") Гарантия
                    .assurance-wrap
                        .main-title
                           p Гарантия
                        .assurance
                            ul.assurance-list
                                li  На какие товары распространяется гарантия
                                    p На все товары, представленные в интернет-магазине Керамис, предоставляется гарантия от производителя. Основанием для требования гарантийных обязательств является гарантийный талон от производителя или товарный чек.
                                li Обмен или возврат товара надлежащего качества
                                    p Приобретенный в нашем интернет-магазине товар Вы можете вернуть или обменять в течение 14 дней после покупки (в соответствии с «Законом о защите прав потребителя»).
                                    p Возврат и обмен приобретенного товара надлежащего качества осуществляется если:
                                    ul.assurance-list-sub
                                        li имеются в наличии все документы сопровождающие товар и подтверждающие покупку (квитанция или товарный чек, гарантийный талон, руководства по эксплуатации)
                                        li сохранен товарный вид и комплектация, т. е. сохранены в неизменном виде товар, оригинальная упаковка, ярлыки, наклейки и прочие элементы
                                        li товар не был в использовании, отсутствуют внешние признаки использования (потертости, царапины, следы воды, строительных смесей и пр.).
                                li Обмен или возврат товара с обнаруженным дефектом
                                    p Возврат или обмен товара с дефектом (в том числе, обнаруженном в процессе эксплуатации) осуществляется только при наличии заключения, выданного авторизованным сервисным центром (официальным представителем компании-производителя). Адреса и контактные данные авторизованных сервисных центров указаны в гарантийном талоне.
                                    p В заключении также должно быть указано, что дефект возник не по вине покупателя.
                                    p Обратите внимание! Осмотр и проверка на наличие дефектов определенных групп товаров (керамическая плитка, ванны акриловые, чугунные, стальные, сантехника из керамики) производится клиентом при приеме заказа у экспедитора. Ставя подпись в товарной накладной, вы подтверждаете, что не имеете претензий по соответствию товарных позиций, внешнему виду, количеству и качеству принятого вами товара.
                                li Бесплатное гарантийное обслуживание
                                    p Все гарантийное и послегарантийное обслуживание товаров производится специализированными авторизированными сервисными центрами фирм производителей, имеющих на это соответствующие полномочия. Адреса и контактные данные авторизованных сервисных центров Вы найдете в гарантийном талоне.
                                li Ограничения по гарантии
                                    p Гарантийное обслуживание и замена не предоставляется в следующих случаях:
                                    ul.assurance-list-sub
                                        li неисправности, вызванные неправильным монтажом, чисткой абразивными или едкими веществами, неправильными эксплуатацией и ремонтом;
                                        li неисправности, вызванные загрязнениями воды, либо повреждениями водопровода (для смесителей необходима установка фильтров грубой очистки);
                                        li естественный износ резиновых деталей изделий;
                                        li механические повреждения, причиненные в процессе самостоятельной транспортировки товара покупателем;
                                        li дефекты, возникшие вследствие форс-мажорных обстоятельств (стихийных бедствий);
                                        li ремонт изделия неуполномоченными лицами.
                        .main-title
                           p Сертификаты, лицензии
                        .license
                            img(src="img/license.png")
                            img(src="img/license.png")
                            img(src="img/license.png")
                            img(src="img/license.png")
                            img(src="img/license.png")
            include componets/footer
        include componets/scripts