doctype html
html(lang=En)
    head
        title головна
        include componets/head
    body
        .wrapper
            include componets/header
            main
                .container
                    .sale-banner
                        img(src="img/sale-banner.jpg")
                        .sale-banner-title
                            h1 Фурнитура для ванны
                            .sale-banner-desc
                                p ALWAYS
                                    span 25%
                                    | OFF OR MORE
                    .breadcrumbs
                        ul.breadcrumbs-list
                            li
                                a(href="index.html") Главная
                            li
                                a(href="news.html") Новости
                    .news-wrap
                        .news-main-title
                            .main-title
                                p Новости
                        .news
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictuffdgdictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egnibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictuffdgdictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egnibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictuffdgdictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egnibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictuffdgdictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibudictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egdictuffdg nibh sit amet dapibus. Vivamus egnibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                            .news-item
                                .news-img
                                    a(href="#")
                                        img(src="img/news1.png")
                                .data
                                    .news-date-block
                                        span 15 Июня 2018
                                .news-title
                                    a(href="#") Products That Fight Static
                                .news-desc
                                    Aliquam dictum pellentesque nibh sit amet dapibus. Vivamus eget luctus nisi. Nullam euismod leo vehicula, rutrum magna in, ornare enim vehicula, rutrum magna in, ornare enim.
                                .news-read
                                    a(href="#") Читать далее
                        .pagination
                            a(href='#').pagination-arrow.pagination-arrow-left
                                <?xml version="1.0" encoding="iso-8859-1"?><!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve"><g><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                            ul.paginationList
                                li
                                    a(href='#') 1
                                li
                                    a(href='#') 2
                                li
                                    a(href='#') 3
                                li
                                    a(href='#') 4
                                li
                                    a(href='#') 5
                                li
                                    a(href='#') 6
                                li
                                    a(href='#') 7

                                li
                                    a(href='#') ...
                                li
                                    a(href='#') 36
                                li
                                    a(href='#') 37
                                li
                                    a(href='#') 38
                            a(href='#').pagination-arrow.pagination-arrow-right
                                <?xml version="1.0" encoding="iso-8859-1"?><!-- Generator: Adobe Illustrator 19.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  --><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 477.175 477.175" style="enable-background:new 0 0 477.175 477.175;" xml:space="preserve"><g><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            include componets/footer
                include componets/scripts