doctype html
html(lang=En)
    head
        title головна
        include componets/head
    body
        .wrapper
            include componets/header
            main
                .container
                    .sale-banner
                        img(src="img/sale-banner.jpg")
                        .sale-banner-title
                            h1 Фурнитура для ванны
                            .sale-banner-desc
                                p ALWAYS
                                    span 25%
                                    | OFF OR MORE
                    .breadcrumbs
                        ul.breadcrumbs-list
                            li
                                a(href="index.html") Главная
                            li
                                a(href="password.html") Восстановление пароля
                    .password-recovery-wrap
                        .main-title
                            p Восстановление пароля
                        .password-recovery
                            form(method='get' action='/').form-small
                                p Укажите email указанный при регистрации, на него будет выслан новый пароль.
                                .form-items
                                    .form-item
                                        input(type='text' name='producer' placeholder="Email*" id='producer_3')
                                    a.form-btn(href="#") восстановить пароль
            include componets/footer
        include componets/scripts