@font-face{
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro/GothamPro.eot');
	src: url('../fonts/GothamPro/GothamPro.eot?iefix') format('eot'),
	url('../fonts/GothamPro/GothamPro.woff') format('woff'),
	url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'GothamPro-Medium';
	src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot');
	src: url('../fonts/GothamPro-Medium/GothamPro-Medium.eot?iefix') format('eot'),
	url('../fonts/GothamPro-Medium/GothamPro-Medium.woff') format('woff'),
	url('../fonts/GothamPro-Medium/GothamPro-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/OpenSans-Semibold/OpenSans-Semibold.eot');
	src: url('../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?iefix') format('eot'),
	url('../fonts/OpenSans-Semibold/OpenSans-Semibold.woff') format('woff'),
	url('../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold/OpenSans-Bold.eot');
	src: url('../fonts/OpenSans-Bold/OpenSans-Bold.eot?iefix') format('eot'),
	url('../fonts/OpenSans-Bold/OpenSans-Bold.woff') format('woff'),
	url('../fonts/OpenSans-Bold/OpenSans-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	font-family: 'Nickainley-Normal';
	src: url('../fonts/Nickainley-Normal.eot');
	src: url('../fonts/Nickainley-Normal.eot?iefix') format('eot'),
		 url('../fonts/Nickainley-Normal.woff') format('woff'),
		 url('../fonts/Nickainley-Normal.ttf') format('truetype');
		 font-style: normal;
		 font-weight: bold;
}

