$black: #130f11;
$gold: #efd8a9;
$red: #e9242d;
$lavanda: #eaeaff;
$dark-lav: #53509d;

$GP: 100% 'GothamPro', sans-serif;
$GP-Med: 100% 'GothamPro-Medium', sans-serif;
$NN: 100% 'Nickainley-Normal', sans-serif;
$OS-Semibold: 100% 'OpenSans-Semibold', sans-serif;

