include ../mixin/mixin
header.header
    .mobHeader
        .mobHeader-bg
        .mobHeader-wrap
            ul.mobMenu
                li
                    a(href="catalog.html") Плитка
                    //.mobMenu-popup
                    //    .mobMenu-popup-left
                    //        .mobMenu-popup-item
                    //            p Категория 1
                    //            ul.mobMenu-popup-list
                    //                li
                    //                    a(href='#') Название 1
                    //                li
                    //                    a(href='#') Название 2
                    //                li
                    //                    a(href='#') Название 3
                    //                li
                    //                    a(href='#') Название 4
                    //                li
                    //                    a(href='#') Название 5
                    //                li
                    //                    a(href='#') Название 6
                    //                li
                    //                    a(href='#') Название 7
                    //                li
                    //                    a(href='#') Название 8
                    //        .mobMenu-popup-item
                    //            p Категория 2
                    //            ul.mobMenu-popup-list
                    //                li
                    //                    a(href='#') Название 1
                    //                li
                    //                    a(href='#') Название 2
                    //                li
                    //                    a(href='#') Название 3
                    //                li
                    //                    a(href='#') Название 4
                    //                li
                    //                    a(href='#') Название 5
                    //                li
                    //                    a(href='#') Название 6
                    //                li
                    //                    a(href='#') Название 7
                    //                li
                    //                    a(href='#') Название 8
                    //        .mobMenu-popup-item
                    //            p Категория 3
                    //            ul.mobMenu-popup-list
                    //                li
                    //                    a(href='#') Название 1
                    //                li
                    //                    a(href='#') Название 2
                    //                li
                    //                    a(href='#') Название 3
                    //                li
                    //                    a(href='#') Название 4
                    //                li
                    //                    a(href='#') Название 5
                    //                li
                    //                    a(href='#') Название 6
                    //                li
                    //                    a(href='#') Название 7
                    //                li
                    //                    a(href='#') Название 8
                    //        .mobMenu-popup-item
                    //            p Категория 4
                    //            ul.mobMenu-popup-list
                    //                li
                    //                    a(href='#') Название 1
                    //                li
                    //                    a(href='#') Название 2
                    //                li
                    //                    a(href='#') Название 3
                    //                li
                    //                    a(href='#') Название 4
                    //                li
                    //                    a(href='#') Название 5
                    //                li
                    //                    a(href='#') Название 6
                    //                li
                    //                    a(href='#') Название 7
                    //                li
                    //                    a(href='#') Название 8
                    //        .mobMenu-popup-item
                    //            p Категория 5
                    //            ul.mobMenu-popup-list
                    //                li
                    //                    a(href='#') Название 1
                    //                li
                    //                    a(href='#') Название 2
                    //                li
                    //                    a(href='#') Название 3
                    //                li
                    //                    a(href='#') Название 4
                    //                li
                    //                    a(href='#') Название 5
                    //                li
                    //                    a(href='#') Название 6
                    //                li
                    //                    a(href='#') Название 7
                    //                li
                    //                    a(href='#') Название 8
                li
                    a(href='catalog.html') Cантехника
                li
                    a(href='catalog.html') напольные покрытия
                li
                    a(href='catalog.html') Отопление
                li
                    a(href='catalog.html') Обои
                li
                    a(href='catalog.html') Освещение
                ul.mobMenuAccessary
                    li
                        a(href="about-company.html") О Компании
                    li
                        a(href="about.html") О нас
                    li
                        a(href="news.html") Новости
                    li
                        a(href="assurance.html") Гарантия
                    li
                        a(href="delivery.html") Оплата и доставка
                    li
                        a(href='question.html') Вопросы и ответы
                    li
                        a(href='cooperation.html') Сотрудничество с нами
                    li
                        a(href='contact.html') Контакты
    .header-top-wrapper
        .container
            .header-top
                .burger
                    span.burger__line
                    span.burger__line
                    span.burger__line
                    span.burger__line
                .header-top-left
                    +select-currency
                    nav
                        ul.menu-top
                            li
                                a(href="about-company.html") О Компании
                            li
                                a(href="about.html") О нас
                            li
                                a(href="news.html") Новости
                            li
                                a(href="assurance") Гарантия
                            li
                                a(href="delivery.html") Оплата и доставка
                            li
                                a(href="contact.html") Контакты
                .sing
                    .sing-without-autho
                        p Личный кабинет
                        ul.sing-list1
                            li
                                a(href="enter.html") Войти
                            li
                                a(href="registration.html") Регистрация
                    .sing-with-autho
                        p Здраствуйте
                            span  Василиса
                        ul.sing-list2
                            li
                                a(href="enter.html") История заказов
                            li
                                a(href="password.html") Редактирование профиля
                            li
                                a(href="enter.html") Корзина
                            li
                                a(href="password.html") Список желаний
                            li
                                a(href="enter.html") Лист ожидания
                            li
                                a(href="password.html") Выход
    .header-bottom-wrapper
        .container
            .header-bottom
                .phone
                    img(src='img/phone.png' alt='phone')
                    .phone-block
                        p Киев
                        a(href='tel:0445370222') (044) 537-02-22
                .logo
                    a(href='index.html')
                        img(src='img/logo.png' alt='logo')
                .basket-block
                    .basket-item
                        .basket-item-count
                            a(href='#')
                                span 125
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 35 29" style="enable-background:new 0 0 35 29;" xml:space="preserve"><g><g><path d="M34.3,11.6h-6.2L20.3,0.3c-0.2-0.3-0.7-0.4-1-0.2c-0.3,0.2-0.4,0.7-0.2,1l7.2,10.5H8.7l7.2-10.5c0.2-0.3,0.1-0.8-0.2-1c-0.3-0.2-0.8-0.1-1,0.2L6.9,11.6H0.7c-0.4,0-0.7,0.3-0.7,0.7C0,12.7,0.3,13,0.7,13h0.9L6.1,27c0.4,1.2,1.5,2,2.8,2h17.2c1.3,0,2.4-0.8,2.8-2L33.3,13h0.9c0.4,0,0.7-0.3,0.7-0.7C35,11.9,34.7,11.6,34.3,11.6z M27.5,26.5c-0.2,0.6-0.8,1-1.4,1H8.9c-0.6,0-1.2-0.4-1.4-1L3.2,13h28.6L27.5,26.5z"/></g></g></svg>
                    .basket-item
                        .basket-item-like
                            a(href='#')
                                span 5
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"viewBox="0 0 32 30" style="enable-background:new 0 0 32 30;" xml:space="preserve"><g><path d="M31.9,8.9C31.5,3.8,27.8,0,23.3,0c-3,0-5.8,1.6-7.4,4.3C14.4,1.6,11.7,0,8.7,0C4.2,0,0.5,3.8,0.1,8.9c0,0.2-0.2,1.4,0.3,3.4c0.7,2.8,2.2,5.4,4.4,7.5L15.9,30l11.3-10.2c2.2-2,3.8-4.6,4.4-7.5C32.1,10.4,32,9.2,31.9,8.9z M30.5,12.1c-0.6,2.6-2,4.9-4.1,6.8l-10.5,9.5L5.6,18.9c-2-1.9-3.5-4.2-4.1-6.8c-0.4-1.9-0.3-2.9-0.3-2.9l0-0.1c0.4-4.5,3.5-7.8,7.4-7.8c2.9,0,5.4,1.8,6.6,4.7l0.6,1.4l0.6-1.4c1.2-2.8,3.9-4.7,6.8-4.7c3.9,0,7,3.3,7.4,7.9C30.7,9.1,30.9,10.2,30.5,12.1z"/></g></svg>
    .header-navigation-wrapper
        .container
            .header-navigation
                ul.main-menu
                    li
                        a(href='#') Плитка
                        .popup-menu
                            .popup-left
                                .popup-item
                                    a(href='#')  Категория 1
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 2
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 3
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 4
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 5
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                            .popup-banner
                                img(src="img/banner.png")
                    li
                        a(href='#') Cантехника
                        .popup-menu
                            .popup-left
                                .popup-item
                                    a(href='#') Категория 1
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#') Категория 2
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 3
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 4
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 5
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                            .popup-banner
                                img(src="img/banner.png")
                    li
                        a(href='#') напольные покрытия
                        .popup-menu
                            .popup-left
                                .popup-item
                                    a(href='#')  Категория 1
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 2
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 3
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 4
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 5
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                            .popup-banner
                                img(src="img/banner.png")
                    li
                        a(href='#') Отопление
                        .popup-menu
                            .popup-left
                                .popup-item
                                    a(href='#')  Категория 1
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 2
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 3
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 4
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 5
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                            .popup-banner
                                img(src="img/banner.png")
                    li
                        a(href='#') Обои
                        .popup-menu
                            .popup-left
                                .popup-item
                                    a(href='#')  Категория 1
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 2
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 3
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#') Категория 4
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 5
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                            .popup-banner
                                img(src="img/banner.png")
                    li
                        a(href='#') Освещение
                        .popup-menu
                            .popup-left
                                .popup-item
                                    a(href='#')  Категория 1
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 2
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 3
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#')  Категория 4
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                                .popup-item
                                    a(href='#') Категория 5
                                    ul.popup-menu-list
                                        li
                                            a(href='#') Название 1
                                        li
                                            a(href='#') Название 2
                                        li
                                            a(href='#') Название 3
                                        li
                                            a(href='#') Название 4
                                        li
                                            a(href='#') Название 5
                                        li
                                            a(href='#') Название 6
                                        li
                                            a(href='#') Название 7
                                        li
                                            a(href='#') Название 8
                            .popup-banner
                                img(src="img/banner.png")
                form.search
                    .search-input
                        input(type='text' name='search' placeholder='Поиск продукции')#search
                    .search-button
                        input(type='submit' name='find-search' value='' title='Поиск')