.timer
    #clockdiv(data-day='15' data-hours='24' data-minutes='60' data-seconds='60')
        div
            span.days
            .smalltext ДНЕЙ
        div
            span.hours
            .smalltext ЧАСОВ
        div
            span.minutes
            .smalltext МИН
        div
            span.seconds
            .smalltext СЕК